@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
:root {
  font-family: "Noto Sans", sans-serif;
  text-align: center;
  background-color: #7289da;
  font-size: 16px;
}
.white-container {
  background-color: white;
  border: 0.083em solid black;
  border-radius: 10px;
}
nav {
  top: -10000px;
  left: -10000px;
  background-color: white;
  border: 0.083em solid black;
  text-align: left !important;
  width: 17%;
  border-radius: 10px;
  display:flex;
  flex-direction: column;
}
.links {
  font-weight: bold;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  width: 30%;
}